@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

body {
   font-family: 'Roboto Slab', sans-serif;
   color: #4a4a4a;
   font-size: 12px;
   margin: 8px;
    font-weight: normal;
    line-height: 1.5;
   width: 300px;
}

h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    color: #9013fe;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2, blockquote {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    color: #9b9b9b;
}



li {
   margin-bottom: .5em;
   line-height: 1.43;
   letter-spacing: normal;
   color: #4a4a4a;
   font-weight: bold;
   font-size: 14px;
}

ul, ol {
   padding-left: 2em;

}


pre {
   background: #eee;
   padding: 0.5em;
}

code {
   background: #eee;
   padding: 2px;
   border-radius: 1px;
}

header, footer, nav, aside, main, article, section {
   border: 3px solid white;
   padding: 10px;
}

header { background: #f44336;}
footer { background: #e91e63;}
nav { background: #ffeb3b;}
aside { background: #64d8cb;}
main { background: #03a9f4;}
article { background: #4caf50;}
section { background: #ffc107;}

main {
   display: flex;
}